.advanced {
  padding-top: 40px;

  &__title {}

  &__inner {
    background: $black;
    color: $wh;

  }

  &__items-wrapper {
    display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    padding: 40px 0;
  }

  &__items {
    flex-grow: 1;

  }

  &__item {
    padding: 25px 0 24px 0;
    display: flex;

    span {
      font-weight: 600;
      font-size: 42px;
      line-height: 51px;
      margin-right: 25px;
    }
  }

  &__item~&__item {
    border-top: 1px solid $wh;
  }


}