.answer {
  background: $red;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
  }

  &__img {
    border-radius: 5px;

  }

  &__info {}

  &__title {
    color: $wh;

    margin-bottom: 20px;
  }

  &__form {}

  &__form-input {
    background: $wh;
    padding: 20px;
    width: 280px;
    margin-right: 18px;
    margin-bottom: 20px;
    border-radius: 5px;

  }

  &__btn {
    padding: 20px;
    background: $black;
    width: 280px;

  }

  &__text {
    color: $wh;
    max-width: 500px;
  }
}