.footer {
  padding: 50px 0;
  background: $black;
  color: $wh;

  &__logo {
    margin-bottom: 20px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {}

  &__item-title {
    margin-bottom: 10px;
  }

  &__list {}

  &__item-phone {
    display: block;
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;

  }

  &__item-mail {
    display: block;
    margin-bottom: 10px;
    text-align: center;



  }

  &__item-btn~&__item-btn {
    background: $wh;
    color: $black;
  }

  &__item-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

  &__social-list {
    display: flex;
    justify-content: space-between;

    li~li {
      margin-left: 5px;
    }
  }

  &__info {
    padding-top: 20px;
    margin-bottom: 20px;
  }

  &__copy-text {
    padding-top: 20px;
  }
}