.forms {
  padding-top: 20px;
  margin-bottom: 25px;
}

.form__text {
  font-weight: 600;
  margin-bottom: 20px;
}

.form__content-form {
  display: flex;
  // margin-bottom: 20px;
}

.form__input {
  width: 100%;
  margin-right: 25px;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 30px;
  background: $gre;






  &::placeholder {
    color: $black;

  }
}

.form__btn {

  // width: 460px;
  // text-align: center;
  color: $wh;
  font-size: 16px;
  width: 67%;
  margin-bottom: 10px;
}

input[type=checkbox] {

  position: relative;
  cursor: pointer;
}

input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 0;
  border: 2px solid $black;
  border-radius: 3px;
  background-color: $wh;
}

.form__label-text {
  // margin-left: 20px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 700;
  max-width: 550px;

}

input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid $black;
  border-width: 0 2px 2px 0;

  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  left: 5px;
}

// end .form block