.breadcrumbs {
  padding-top: 20px;
}

.breadcrumbs-item {

  display: inline;
  margin-right: 22px;
  position: relative;
}

.breadcrumbs li+li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -16px;
  width: 6px;
  height: 10px;
  background-image: url("https://raw.githubusercontent.com/jenyadev3/vertical-menu/44927f26ede48b4b7cf991e961b90c95278de11c/img/arrow.svg");
  background-size: 6px 10px;
  background-repeat: no-repeat;
  background-position: center;
}


.breadcrumbs-link {
  color: #151413;
  transition: opacity 0.5s;
}

.breadcrumbs-item .active,
.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  opacity: 0.6;
}

// end breadcrumbs-item

.filters {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;

  overflow-y: hidden;
}

.none,
.logo-min {
  display: none;
}

hr {
  opacity: 0.3;
}


// .text-typing {
//   width: 40em;

//   font-size: 22px;
//   font-family: 'Marck Script', cursive;
//   white-space: nowrap;
//   overflow: hidden;
//   -webkit-animation: type 5s steps(50, end);
//   animation: type 5s steps(50, end);
//   animation-iteration-count: infinite;
// }

// @keyframes type {
//   from {
//     width: 0;
//   }
// }

// @-webkit-keyframes type {
//   from {
//     width: 0;
//   }
// }



.activ {
  display: block;
}

// accordion 
@import url(//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);



.voprosnik h3 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.klundesaga-item {
  background-color: $red;
  margin-bottom: 20px;
  border: 1px solid $black;
  border-radius: 5px;
  color: #ffffff;
}

.klundesaga-item .klundesaga-title {
  cursor: pointer;
  padding: 20px;
  transition: transform 0.4s ease-in-out;
}

.klundesaga-item .klundesaga-title.active-title {
  background-color: $black;
  color: #ffffff;
}

.klundesaga-item .klundesaga-title h3 {
  font-weight: 700;
  margin: 0;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.klundesaga-item .klundesaga-title i.fa-chevron-down {
  transform: rotate(0);
  transition: 0.4s;
}

.klundesaga-item .klundesaga-title i.fa-chevron-down.chevron-top {
  transform: rotate(-180deg);
  color: #fa5019;
}

.klundesaga-item .klundesaga-content {
  display: none;
  line-height: 1.7;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
  color: $black;
}

.klundesaga-item .klundesaga-content.active {
  display: block;
}

.klundesaga-item .klundesaga-content p {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
}

.sadelpos {
  background: #dce1f2;
}

.sadelpos .detailed_info {
  margin: 50px auto;
}

.sadelpos img {
  margin: 0 auto;
  display: block;
  /* margin-top: 120px; */
}

.sadelpos h3 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.sadelpos p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

.sadelpos ul li {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  line-height: 1.7em;
}