html,
body {
  box-sizing: border-box;
  height: 100%;
}


*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

*:hover {
  transition: all 0.3s;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: inherit;
  font-weight: normal;

}


a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}


ul,
li,
b {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

button,
select {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
}

path {
  fill: currentColor !important;
}

p {
  margin: 0;
}

input {
  all: unset;
  box-sizing: border-box;
}

.feedback-form {
  width: 400px;
  max-width: 100%;
  height: 388px;
  border-radius: 6px;
  background-color: #f5f5f5;
  text-align: center;
  margin: auto;
  padding: 30px 30px;
}

.feedback-form__title {
  color: #404040;
  font-family: Manrope, Arial, sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 21px;
}

.feedback-form__input {
  width: 100%;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #bfbfbf;
  background-color: #fff;
  height: 35px;
  margin-bottom: 10px;
  outline: 0;
  padding: 0 5px;
  max-width: 100%
}

.feedback-form__input:focus {
  border-color: #bfbfbf !important;
  box-shadow: none !important
}


button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent
}

.feedback-form__button {
  width: 100%;
  height: 36px;
  background: #ffb73a;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 15px;
  padding: 8px 0;
  margin-top: 5px;
  box-shadow: 0 13px 8px -8px #909090;
  border-bottom: 5px solid #fa9f00;
  outline: 0;
  display: inline-block
}

.feedback-form__input::-webkit-input-placeholder {
  color: #999;
  font-family: Manrope, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400
}

.feedback-form__input::-moz-placeholder {
  color: #999;
  font-family: Manrope, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400
}

.feedback-form__input:-ms-input-placeholder {
  color: #999;
  font-family: Manrope, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400
}

.feedback-form__input::-ms-input-placeholder {
  color: #999;
  font-family: Manrope, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400
}

.feedback-form__input::placeholder {
  color: #999;
  font-family: Manrope, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400
}

body.lock {
  // padding-right: 20px;
  overflow: hidden;
}

body {
  font-family: 'Nunito', sans-serif;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  // letter-spacing: 0.24em;
  color: $black;

  background: $bgc;
  display: flex;
  flex-direction: column;
  border-top: 125px solid $black;

}



.main {
  flex-grow: 1;

}

.container {
  padding: 0 30px;
  max-width: 1430px;
  margin: 0 auto;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.title {
  margin-bottom: 40px;
  font-size: 46px;
  line-height: 50px;
}