@media (max-width: 1276px) {
  body {
    padding-top: 80px;
  }

  .header__logo img {
    display: none;
  }



  .header {

    &__menu {
      display: none;

    }

    &__burger-wrap {
      display: flex;
    }

    &__burger {
      display: block;
    }

  }





  .modal-menu.active {
    display: block;

  }





  .modal-menu {
    position: fixed;



  }


  .menu {
    li {
      padding: 5px 0;

      &:hover,
      &:focus {
        transition: all 0.3s;
        color: $red;
      }
    }

  }

  .modal-menu__lists {
    margin-bottom: 20px;
  }

  .modal-menu__list a {

    font-weight: 500;



    line-height: 25px;
    display: inline-block;



  }

  .modal-menu__phone {

    padding-top: 20px;
    line-height: 18px;

  }

  .modal-menu__phone__number {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .modal-menu__nav {
    margin-bottom: 10px;
    line-height: 30px;
    padding-left: 5px;
  }

  .modal-menu__nav__list {
    border-bottom: 1px solid #ccc;
    position: relative;

    &::after {
      font-family: 'icomoon' !important;
      content: "\ea50";
      position: absolute;
      transform: rotate(90deg);
      top: 3px;
      right: 0px;
      font-weight: 400;
      font-size: 14px;


    }
  }




  .modal-menu__nav {


    li::after {
      font-family: 'icomoon' !important;
      position: absolute;
      content: "\ea10";

      transform: rotate(285deg);
      top: 3px;
      right: 0px;
      font-weight: 400;
      font-size: 14px;
      // background-color: #fff;
    }
  }

  .modal-menu__phone__link {

    padding: 10px 25px;
    width: 100%;
    text-align: center;
    color: #fafcff;
    font-size: 16px;
    border: 1px solid #fafcff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-bottom: 10px;
  }

  //  end .modal-menu

  .header__menu-button__wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .header__menu-button {
    width: 50px;
    height: 30px;
    cursor: pointer;
    position: relative;
  }

  .header__menu-button::after {
    content: "";
    width: 30px;
    height: 4px;
    border-radius: 1px;
    position: absolute;
    background-color: $red;
    top: 5px;
    left: 10px;
    box-shadow: 0 8px 0 0 $red, 0 16px 0 0 $red;
  }


  // end header__menu-button

  .banner {
    padding-top: 100px;

  }

}

// end 1276
@media (max-width: 1212px) {
  .questions__item {

    width: 100%;

  }
}

// end 1210
@media (max-width: 1200px) {

  .adress {
    display: none;

  }

  .blog__items {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .contacts__items {

    grid-template-columns: repeat(2, 1fr);
    // gap: 10px;

  }

}

// end 1200
@media (max-width: 1000px) {

  .promotion__perfom-items,
  .cerm__rate-items {

    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

  }

  .clients__items {

    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .banner {
    padding-bottom: 80px;


    &__inner {
      flex-direction: column;
      padding-top: 0;
      box-sizing: border-box;

    }

    &__form-inner {
      width: auto;
    }

    &__info {
      width: auto;
    }
  }

  .product__item {
    flex-basis: 47.5%;

    &:nth-child(n) {
      margin-right: 2.5%;
    }
  }

  .product__title {

    margin-bottom: 25px;
    font-size: 30px;
    line-height: 36px;
  }

  .form__content-form {
    display: block;
  }

  .form__btn {

    width: 100%;
    padding: 5px 20px;
    margin-bottom: 0;

  }
}

// end 1000
@media (max-width: 900px) {
  .advanced__items-wrapper {
    display: block;



  }

  .bd-top {
    border-top: 1px solid $wh;


  }

  .footer__top-inner {
    grid-template-columns: repeat(3, 1fr);



  }

  .company__banner--items {

    display: none;
  }

  .company__banner {
    height: 300px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .company__banner--title {
    padding: 0;
    margin: 0;

  }


}

// end 900
@media (max-width: 815px) {
  .promotion__publications-item {

    grid-template-columns: 1fr;
    gap: 30px;

  }

  .promotion__publications-left {
    align-items: start;
  }

  .promotion__publications-item_title {
    padding-left: 60px;

    &::after {
      left: 0px;
    }
  }

  .promotion__publications-right {
    border: none;
    padding-left: 0;
  }

  .header__phone {
    display: none;
  }

  .header__phone-icons {
    display: block;

  }

  .header__btn-inner {
    min-width: 300px;
  }

  .clients__items {

    gap: 10px;
  }

  .footer__top-inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

  }

  .company__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;


  }

  .title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 34px;
  }

  .contacts__map-item {
    display: none;
  }

}

// end 815
@media (max-width: 700px) {

  .promotion__perfom-items,
  .cerm__rate-items {

    grid-template-columns: 1fr;

  }

  .cerm__rate-item {
    min-height: 520px;
  }

  .product__items {
    display: block;


  }

  .product__item {


    &:nth-child(n) {
      margin-right: 0;
    }
  }

  .blog__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }


}

// end 700
@media (max-width: 650px) {
  body {
    padding-top: 54px;
  }

  .clients__items {

    grid-template-columns: repeat(2, 1fr);
  }

  .header__btn {
    display: none;
  }

  .header__btn-inner {
    min-width: 110px;
  }

  .header__top-inner {
    height: 55px;
  }


  .modal__inner {
    width: 350px;
    padding: 20px 10px;
  }

  .modal__form-input {
    padding: 10px;
    border: 1px solid #28302e;
    margin-bottom: 10px;
    text-align: left;
  }

  .company__items {
    grid-template-columns: 1fr;
    gap: 20px;


  }

  .company__banner {
    height: 200px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .contacts__items {

    grid-template-columns: 1fr;
    gap: 20px;

  }
}

// end 650
@media (max-width: 500px) {
  .plus {

    right: 0;

  }


  .header__logo span {
    font-size: 0;
    position: relative;

    &::after {
      content: 'DG';
      position: absolute;
      top: 0;
      left: 0;
      font-size: 30px;

    }
  }

  .title {
    font-size: 28px;
    line-height: 36px;

  }

  .blog .tabs .blog__items.blog__active-btn {
    display: flex;
    overflow-y: hidden;

  }

  .blog__item {
    min-width: 260px;
  }




  .clients__items {

    gap: 10;

  }

  .clients__img {
    width: 80px;
  }


  .tabs {
    min-height: 400px;
  }



  .footer__top-inner {
    grid-template-columns: 1fr;

    text-align: center;


  }


  .footer__top {
    text-align: center;

  }

  .footer__logo {
    justify-content: center;
  }

  .product__item {
    border-radius: 15px;
  }

  .product__item-subtitle {
    border-top-color: $red;
    background: $red;
    color: $wh;
    border-bottom-left-radius: 15px;

    &::after {
      color: $wh;
    }
  }

  .back-to-top {

    right: 20px;

  }

  .footer {
    &__top-item {
      display: none;
    }

    &__top-contacts {
      display: block;
    }
  }



  .select {
    display: block;
    // width: 300px;
    border-radius: 5px;
    border: 1px solid $red;
    overflow: hidden;
    color: #ffffff;
    font-weight: 300px;
    margin: 0;
    position: relative;
    height: auto;
    max-height: calc(40px * 8);
    /* max 8 element in list */
    /*   transition: 0.2s; */
  }

  .select:before {
    content: '';
    position: absolute;
    background-color: #ffffff;
    width: 14px;
    height: 14px;
    -webkit-transform: rotate(45deg);
    top: 15px;
    right: 15px;
  }

  .select:after {
    content: '';
    position: absolute;
    background-color: $black;
    width: 14px;
    height: 14px;
    -webkit-transform: rotate(45deg);
    top: 20px;
    right: 15px;
  }

  .collapsed {
    max-height: 40px;
    /*   transition: 0.2s; */
  }

  .collapsed:before {
    content: '';
    position: absolute;
    background-color: #ffffff;
    width: 14px;
    height: 14px;
    -webkit-transform: rotate(45deg);
    top: 10px;
    right: 15px;
  }

  .collapsed:after {
    content: '';
    position: absolute;
    background-color: $black;
    width: 14px;
    height: 14px;
    -webkit-transform: rotate(45deg);
    top: 5px;
    right: 15px;
  }

  .option,
  .shown {
    width: 300px;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    cursor: pointer;
    background-color: $black;
  }

  .shown {
    background-color: $black;
    font-weight: 400;
  }

}

// end 500

@media (max-width: 400px) {


  .title {
    font-size: 24px;
    line-height: 28px;

  }

  .modal__inner {
    width: 300px;
  }

}

// end 400

@media (max-width: 350px) {}