.vacancies {
  padding-top: 50px;
  margin-bottom: 70px;

  &__title {}

  &__items {
    counter-reset: num;

  }

  &__item {
    margin-bottom: 20px;
    padding: 20px;
    padding-left: 45px;
    background: $bl;
    box-shadow: 0 17px 19px rgb(0 0 0 / 20%);
    position: relative;
    border-radius: 5px;

    vertical-align: top;



    &::after {
      counter-increment: num;
      content: counter(num);
      display: flex;
      color: $wh;
      font-weight: 600;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 8px;
      top: 17px;

      width: 29px;
      height: 30px;
      background: $red;
      border-radius: 25px;



    }

    &:nth-child(2n+1) {
      clear: both;
      margin-left: 0;
    }

  }

  &__item-title {
    font-weight: 700;
    font-size: 24px;

    &.opened .plus {
      color: red;
      transform: rotate(45deg);
    }
  }

  &__item-text {
    padding-top: 10px;

  }
}



.plus {}