$red:#e82525;
$black:#292930;
// $black:#09131e;
$wh:#fff;
$bgc:#f6f5f3;
$gre: #ebebeb;

// // $title-color:#29282d;

%icomoon {
  font-family: 'icomoon' !important;
  position: absolute;
  color: $red;
}

%hover {

  transition: all 0.3s;
  position: relative;
  cursor: pointer;

  &:hover,
  &:focus {



    &::before {
      width: 100%;
      right: auto;
      left: 0;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 0;
    left: auto;
    height: 2px;
    background-color: $red;
    bottom: -2px;
    transition: all 0.3s;
    right: 0;
    z-index: 5;
  }

}

@keyframes animatebutton {
  0% {
    left: -80px;
  }

  33% {
    left: 120%;
  }

  100% {
    left: 120%;
  }
}

.btn {
  background-color: $red;
  border-radius: 5px;
  font-weight: 600;
  // box-shadow: 0px 10px 30px -10px $red;
  position: relative;
  color: $wh;
  overflow: hidden;

  &:after {
    z-index: 1;
    content: "";
    background-color: $wh;
    position: absolute;
    width: 10px;
    height: 170px;
    top: -40px;
    animation: animatebutton 3s infinite;
    transform: rotate(45deg);
  }

}

%banner {
  background: $black;


  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  min-height: 740px;
  position: relative;



  &::before {
    content: "";
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
    color: $wh;
  }

  .breadcrumbs {
    z-index: 5;
    position: relative;
  }

  .breadcrumbs-link {
    color: $red;
  }

}