@import "_normalize";
@import "_global.scss";
@import "_vars";
@import "_fonsts";


body {
  font-family: 'Nunito', sans-serif;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.24em;
  color: $black;

  background: $bg;
  display: flex;
  flex-direction: column;

}



.main {
  flex-grow: 1;


}

.container {
  padding: 0 30px;
  max-width: 1430px;
  margin: 0 auto;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header {
  position: absolute;
  background-color: $black;
  color: $bg;
  top: 0;
  left: 0;
  right: 0;
  z-index: 7;

  &__top {
    background-color: $black;

  }

  &__top-inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  &__adress {
    position: relative;

    &::after {
      @extend %icomoon;

      content: "\e947";
      top: 12px;
      left: -40px;
      font-size: 30px;

    }

    &::before {
      @extend %icomoon;

      content: "\e947";
      top: 12px;
      left: -40px;
      font-size: 30px;

    }

  }

  &__phone {
    position: relative;

    &::after {
      @extend %icomoon;

      content: "\e942";
      top: 2px;
      left: -40px;
      font-size: 30px;

    }
  }

  &__phone-icons {
    display: none;
    position: relative;
    background: $red;

    &::after {
      @extend %icomoon;
      color: $bg;

      content: "\e942";
      top: 2px;
      left: 3px;
      font-size: 25px;

    }
  }

  &__btn-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 440px;
  }



  &__btn {
    padding: 0 20px;
    height: 30px;
  }

  &__social,
  &__burger {
    height: 30px;
    width: 30px;
    border-radius: 5px;



  }


  &__menu-inner {
    border-top: 1px solid $bg;
    opacity: 0.3;
  }

  &__lists {
    display: flex;
    justify-content: space-between;

    >li:nth-child(3) {
      position: relative;



      &::after {
        content: '';
        position: absolute;

        border: 5px solid transparent;
        border-top: 5px solid $bg;
        top: 20px;
        left: 105px;


      }
    }

    >li {
      // display: inline-block;
      padding: 10px 0;
      @extend %hover;


    }


  }

  &__hover-menu {
    display: none;
    padding: 5px;
    background: $bg;
    color: $black;
    position: absolute;
    z-index: 6;
    width: 310px;
    left: -95px;
    top: 42px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3),
      0 -6px 16px -6px rgba(0, 0, 0, 0.025);



    li {
      padding: 5px 10px;
      text-align: center;
      @extend %hover;

    }

  }

  &__hover-menu__lists {
    position: relative;

    &::before {
      content: '';
      position: absolute;

      z-index: 6;

      border: 10px solid transparent;
      border-bottom: 10px solid $bg;
      top: -23px;
      left: 136px;
    }

  }

  &__burger-wrap {
    display: flex;
    align-items: center;
  }

  &__burger {
    display: none;
  }

}



.sticky {}

.none {
  display: none;
}

.whatsapp {
  background: #25D366;
  position: relative;

  &::after {
    @extend %icomoon;
    content: "\ea93";
    color: $bg;
    top: 2px;
    left: 5px;
    font-size: 20px;

  }
}

.telegram {
  background: #229ED9;
  position: relative;

  &::after {
    @extend %icomoon;
    content: "\ea95";
    color: $bg;
    top: 2px;
    left: 5px;
    font-size: 20px;

  }

}



.logo {
  font-size: 26px;
  display: flex;
  align-items: center;
}

.adress {}

.phone {}

.modal {
  display: none;
  position: fixed;
  z-index: 320;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);

  &__wrapper {
    position: relative;
  }

  &__inner {
    position: absolute;
    width: 500px;

    border: 1px solid $black;
    background: $bg;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 40px;
    text-align: center;

  }



  &__text {
    opacity: 0.8;
    margin-bottom: 20px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__form-input {
    padding: 20px;
    border: 1px solid $black;
    margin-bottom: 20px;
    text-align: left;
  }


  &__btn {
    padding: 20px;
    border: 1px solid $red;
    color: $bg;
    margin-bottom: 20px;
  }
}

.close {
  &::after {
    @extend %icomoon;
    content: "\ea0f";
    top: 12px;
    right: 0;
    font-size: 30px;

  }
}

.activ {
  display: block;
}

/* Кнопка вверх uPTop */
.back-to-top {
  background: $red;
  color: $bg;
  border-radius: 50%;
  position: fixed;
  bottom: -50px;
  padding: 10px 12px;
  right: 50px;
  cursor: pointer;
  transition: 0.3s all;
  z-index: 10;
}

.back-to-top.active {
  bottom: 50px;
  transition: 0.3s all;
}

/* uFive.Ru */

// end header


.menu {
  list-style-type: none;



}



.menu>li {
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: $red;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;

}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: $black;
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}



//end menu
.banner {
  padding-top: 150px;
  background-image: url(../images/banner-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  min-height: 740px;
  position: relative;


  &::before {
    content: "";
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
  }



  &__inner {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    position: relative;


  }

  &__info {
    width: 600px;
    color: $bg;

  }

  &__title {}

  &__text {
    padding-left: 20px;
    margin-bottom: 20px;
    position: relative;

    &::after {
      @extend %icomoon;
      content: "\ea10";
      top: 2px;
      left: 0;
      font-size: 16px;

    }
  }

  &__form-inner {
    background-color: $bg;
    width: 500px;
    padding: 60px 40px 80px;
    border-radius: 15px;
    position: relative;


  }

  &__form {


    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // padding: 25px;
  }

  &__form-input {
    padding: 10px 20px;
    background: $gre;
    margin-bottom: 20px;
    text-align: left;
  }



  &__btn {
    padding: 20px;

    color: $bg;
  }

  &__img-inner {
    position: absolute;
    width: 210px;
    margin: auto;
    bottom: -65px;
    left: 20px;
    right: 0;
  }


}




// end banner


.product {
  padding-top: 40px;



  &__title {

    margin-bottom: 35px;
    font-size: 46px;
    line-height: 50px;
  }

  &__items {
    display: flex;

    flex-wrap: wrap;
  }

  &__item {
    border: 1px solid #d9d9d9;
    flex: 0 0 31.25%;
    margin: 0 1.625% 20px 0;
    display: flex;
    flex-direction: column;
    color: #4f4f4f;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 17px 19px rgb(0 0 0 / 20%);

      .product__item-subtitle {
        border-top-color: $red;
        background: $red;
        color: $bg;

        &::after {
          color: $bg;
        }
      }
    }
  }

  &__item-title {
    margin: 24px 24px 16px;
    font-size: 25px;
    line-height: 33px;
    font-weight: bold;
  }

  &__item-text {
    margin: 0 24px 40px;
    font-size: 16px;
    line-height: 21px;
  }


  &__item-subtitle {
    position: relative;
    margin-top: auto;
    padding: 16px 24px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    border-top: 1px solid #d9d9d9;
    transition: all 0.3s;

    &::after {
      @extend %icomoon;
      content: "\ea10";
      top: 18px;
      right: 18px;
      font-size: 18px;

    }
  }
}

//end product

.advanced {
  padding-top: 40px;

  &__title {}

  &__inner {
    background: $black;
    color: $bg;

  }

  &__items-wrapper {
    display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    padding: 40px 0;
  }

  &__items {
    flex-grow: 1;

  }

  &__item {
    padding: 25px 0 24px 0;
    display: flex;

    span {
      font-weight: 600;
      font-size: 42px;
      line-height: 51px;
      margin-right: 25px;
    }
  }

  &__item~&__item {
    border-top: 1px solid $bg;
  }


}

// end advanced

.clients {
  padding-top: 40px;
  background: #f7f7f8;





  &__btn {
    padding: 10px 20px;
    margin-bottom: 10px;
    // color: $bg;
    background: #c1c1c1;
    border-radius: 5px;
    font-weight: 500;

    &:hover {
      background: $bg;
      box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
        0 8px 16px -8px rgba(0, 0, 0, 0.3),
        0 -6px 16px -6px rgba(0, 0, 0, 0.025);

    }
  }

  button.active-btn[data-tab] {
    background: $red;
    color: $bg;
    pointer-events: none;
    box-shadow: 0px 10px 30px -10px $red;

  }



  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-top: 20px;
  }




  &__item {
    padding: 3rem 0;
    text-align: center;

    background: $bg;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3),
      0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }

  .tabs>div.active-btn:not([data-tab]) {
    display: grid;

  }

  .tabs>div:not([data-tab]) {

    display: none;

  }

}



// end clients
.blog {

  padding-top: 40px;



  .filters {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;

    overflow-y: hidden;
  }


  &__btn {
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    // color: $bg;
    background: #c1c1c1;
    border-radius: 5px;
    font-weight: 500;

    &:hover {
      background: $bg;
      box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
        0 8px 16px -8px rgba(0, 0, 0, 0.3),
        0 -6px 16px -6px rgba(0, 0, 0, 0.025);

    }
  }




  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-top: 20px;
  }




  &__item {
    min-height: 350px;

    cursor: pointer;



    img {
      width: 100%;
      height: 80%;
      object-fit: cover;

      border-radius: 5px;

    }


  }

  &__item-title {
    padding-top: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-decoration: underline;
  }

  .tabs {
    .blog__items {
      display: none;

      &.blog__active-btn {
        display: grid;
      }
    }

    .blog__btn {
      cursor: pointer;

      &.blog__active-btn {
        pointer-events: none;
        background: $red;
        color: $bg;
        box-shadow: 0px 10px 30px -10px $red;

      }
    }
  }

}



// end blog
.forms {
  padding-top: 20px;
  margin-bottom: 25px;
}

.form__text {
  font-weight: 600;
  margin-bottom: 20px;
}

.form__content-form {
  display: flex;
  margin-bottom: 20px;
}

.form__input {
  width: 100%;
  margin-right: 25px;
  margin-bottom: 20px;
  border-radius: 3px;
  padding: 5px 20px;
  font-size: 16px;
  line-height: 30px;
  background: $gre;






  &::placeholder {
    color: $black;

  }
}

.form__btn {

  // width: 460px;
  // text-align: center;
  color: $bg;
  font-size: 16px;
  width: 50%;
  margin-bottom: 20px;
}

input[type=checkbox] {

  position: relative;
  cursor: pointer;
}

input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 0;
  border: 2px solid $black;
  border-radius: 3px;
  background-color: $bg;
}

.form__label-text {
  margin-left: 20px;
}

input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid $black;
  border-width: 0 2px 2px 0;

  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  left: 5px;
}

// end .form block



.footer {


  &__inner {
    background: $black;
    color: $bg;
  }



  &__bottom {
    padding: 20px 0 22px;
    // margin-bottom: 20px;

  }

  &__btn {
    padding: 10px 25px;
    width: 100%;
    text-align: center;
    color: $bg;
    font-size: 16px;
    border: 1px solid $bg;
    transition: all 0.3s;

    &:hover,
    &:focus {
      transition: all 0.3s;
      color: $black;
      background-color: $bg;

    }
  }

  &__bottom-copy {
    font-size: 10px;
    line-height: 12px;

    margin-bottom: 5px;

    &:last-child {
      margin-top: 20px;
    }
  }

  &__top-title {
    font-weight: 700;
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 16px;
    color: $red;
  }

  &__top {
    padding-top: 20px;
  }

  &__top-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

  }








  &-list {
    font-size: 14px;
    line-height: 22px;



    li:hover {
      color: $red;



    }
  }

  &__number {
    font-size: 22px;
    font-weight: 500;
  }

  &__mail {
    display: block;
    text-decoration: underline;
    margin-bottom: 10px;
  }

  &__logo {
    margin-bottom: 10px;
  }

}

.footer__top--img__yandex {
  cursor: pointer;
}

.footer__top--losts {
  margin-bottom: 20px;
}

.footer__top--list {
  margin-bottom: 10px;
}


.social-lists {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;


}

.social-link {
  position: relative;
  font-weight: 400;
  font-size: 15px;
  transition: all 0.3s;
  border-radius: 50px;
  border: 1px solid $bg;
  padding: 15px;
  margin-right: 20px;

  &:hover,
  &:focus {
    transition: all 0.3s;
    color: $bg;
    background-color: $red;

  }
}


.link-wh {
  &::after {
    @extend %icomoon;
    content: "\ea93";

    top: 3px;
    left: 5px;
    color: $bg;
    font-size: 20px;
  }
}



.link-telg {
  &::after {
    @extend %icomoon;
    content: "\ea95";
    top: 3px;
    left: 5px;
    color: $bg;
    font-size: 20px;


  }
}


// end .footer block

@import "_media";